{%  extends "base.html" %}

{% block content %}
<div style="margin: 2%;">
    <h2>Log in</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}<br>
            <div class="col-2">
                <p>
                    {{ field }}
                </p>
            </div>
        {% endfor %}
        {% for error in form.non_field_errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
        <button class="btn btn-success" type="submit">Log in</button>
    </form>
</div>
{% endblock %}